*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
p{
    opacity:0.8;
}
li{
    padding-left: 15px;
    margin-bottom: 10px;
    opacity: 0.8;
}

body{
    width: 900px;
    background-color: bisque;
    margin: 30px auto;

}
.main-body{
    width: 600px;
    background-color: white;
    margin: auto;
    padding: 30px;
    border-radius: 12px;
}
img{
    width: 100%;
    border-radius: 10px;
}
.preparation{
    background-color: rgba(230, 230, 250,0.4);
    padding: 15px;
    margin: 20px 0 ;
    border-radius: 10px;
}
.preparation h3{
    color: rgb(128, 0, 128);
}
.preparation ul{
    padding-left:  30px;
    padding-top: 15px;

}
.preparation li::marker{
    color:rgb(128, 0, 128); ;
    
}
.ingredients{
    padding: 15px ;
    margin: 0 0 20px 0;
    border-bottom:  1px solid rgba(128, 128, 128,0.4);
    
}
.ingredients h2{
    color: rgb(161, 76, 15);

}
.ingredients ul{
    padding-top: 15px;
    padding-bottom: 15px;;
}
.ingredients li::marker{
    color:rgb(161, 76, 15); 
}
.instruction{
    padding: 15px;
    margin:0 0 20px 0;
    border-bottom:  solid rgba(128, 128, 128,0.4);
}
.instruction h2{
    color:rgb(161, 76, 15); 
}
.instruction li::marker{
    color: rgb(161, 76, 15);
}
.instruction ol{
    padding-top: 15px;
    padding-bottom: 15px;
}
.nutrition{
    padding: 0;
    margin: 0 0 20px 0;
}
.nutrition h2{
    color:rgb(161, 76, 15); 
}
table{
    width: 100%;
    padding: 10px;
    border-collapse: collapse;
    
}
tr{
    opacity: 0.8;
    height: 40px;
    border-bottom: 1px solid rgba(128, 128, 128,0.4);
}
td{
    padding-left: 30px;
}
.text-color{
    color:rgb(161, 76, 15);
}

