*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}
body{
    background-color: beige;
}
.main{
    display: flex;
    margin: 100px auto;
    height: 500px;
    width: 700px;
}
.item-left,.item-right{
    flex: 1;
    background-color: white;
}
img{
    width: 100%;
    height: 100%;
}
p{
    margin: 20px auto;
    opacity: 0.5;
}
.item-right{
    padding-left: 20px ;
}
.font-color{
    font-size: xx-large;
    padding-right: 20px;
    color: rgba(0, 100, 0,100);
    font-weight: bolder;
}
.button{
    background-color: rgba(0, 100, 0,100); 
    border-radius: 10px;
    color: white;
    opacity: 0.9;
    padding: 15px;
    width: 100%;
    border: none;
    font-size: 1em;
    cursor: pointer; /* this syntext creat a hand sign when the cursour point on the button */
    
}
.button i{
    margin-right: 10px;
}
/* it creat a shadow on the button  */
.button:hover{
    background-color:rgb(21, 92, 54);
}


