*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body{
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.main{
    background-color: white;
    margin: 40px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 350px;
}
img{
    width: 100%;
    height: 350px;
}
.content{
    padding: 20px;
}
.Desing-int{
    display: inline-block;
    padding: 5px 10px;
    background-color: rgb(223, 242, 225);
    color: rgb(76, 175, 80);
    border-radius: 20px;
    font-size: 14px;
    margin-bottom: 10px;
    border: 1px solid rgb(76, 175, 80);
 
}
h2{
    font-size: larger;
    margin-bottom: 20px;
    opacity: 0.9;
}
.text{
    opacity: 0.65;
    margin-bottom: 20px;
    font-size: 16px;
    
}
.read{
    text-decoration: none;
    color: rgb(98, 0, 234);
    font-weight: bold;
    
}


